@import './normalize.css';
@import './base.css';

.row {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: var(--primary-blue-color);
  transition: 0.2s;
  font-weight: 500;
}

@media (hover: hover) {
  a:hover {
    color: var(--primary-aqua);
  }
}

.super-grid {
  --children-height: 25rem;
  --min-children-width: 20rem;

  display: grid;
  gap: 1rem;
  grid-auto-flow: dense;
  grid-auto-rows: var(--children-height);
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--min-children-width), 1fr)
  );
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-light-grey-color);
  border-radius: 10px;
}

table > thead > tr > th {
  white-space: nowrap !important;
  background: var(--primary-blue-color) !important;
  color: var(--white) !important;
}
table > thead > tr > th > h3 {
  font-weight: bolder;
}
table tbody tr td {
  /* white-space: nowrap; */
  vertical-align: middle;
  background: var(--white) !important;
}

.v-table {
  border-radius: var(--radius) !important;
  border: 1px solid var(--secondary-light-grey-color) !important;
}

.v-table thead {
  background-color: var(--primary-blue-color);
  color: white !important;
}

.card {
  border-radius: var(--radius);
  background-color: var(--white);
  overflow: hidden;
}
